.advantagesInner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

}

.advantage {
  width: 24%;
  transition: transform .2s ease;
}

.advantage:hover {
  transform: scale(1.2);
}

.advantage h3 {
  letter-spacing: 2px;
  color: #fff;
}

.advantage p {
  color: #999;
}