.userMenu {
  width: fit-content;
  padding: 20px;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #555;
  white-space: nowrap;
}

.link:hover {
  color: var(--color2)
}

.btnInner {
  text-align: center;
  margin-top: 20px;
}

.btnInner button {
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color .2s ease;
  cursor: pointer;
}

.btnInner button:hover {
  background-color: var(--color2);
}