.personal {
  text-align: left;
  padding: 0px 40px;
}

.formTitle {
  margin-bottom: 40px;
  color: #555;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.form {
  width: 60%;
}

.formInner {
  width: 100%;
  margin-bottom: 20px;
}

.label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #555;
}

.input {
  width: 100%;
  margin-top: 6px;
  padding: 10px;
  border: none;
  background-color: var(--color3);
  border-radius: 4px;
  color: #555;
}

.input:focus {
  outline: 2px solid var(--color2);
}

.noFocus:focus {
  outline: none;
}

.button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  transition: background-color .2s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color2);
}

.success {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color2);
  font-weight: 600;
}