.form {
  width: 100%;
}

.formInner {
  width: 100%;
}

.formInner:not(:last-child) {
  margin-bottom: 30px;
}

.input,
.inputError {
  width: 100%;
  padding: 6px;
  border-radius: 4px;
}

.input {
  border: 1px solid var(--color6);
}

.input:focus {
  outline: 1px solid var(--color2);
}

.inputError {
  border: none;
  outline: 1px solid red;
}

.actions,
.errorInner {
  width: fit-content;
  margin: 0 auto;
}

.formInner button {
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  background-color: #555;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: background-color .2s ease;
  cursor: pointer;
}

.formInner button:hover {
  background-color: var(--color2);
}

.error {
  color: red;
  text-transform: uppercase;
  letter-spacing: 2px;
}